.idea
bdd.iml
.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
.idea/libraries/Maven__com_saucelabs_sauce_java_common_2_1_21.xml
.idea/libraries/Maven__com_saucelabs_sauce_junit_2_1_21.xml
.idea/libraries/Maven__com_saucelabs_saucerest_1_0_34.xml
.idea/libraries/Maven__commons_io_commons_io_2_4.xml
.idea/libraries/Maven__info_cukes_cucumber_picocontainer_1_2_4.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5.xml
.idea/libraries/Maven__org_json_json_20090211.xml
.idea/libraries/Maven__org_picocontainer_picocontainer_2_15.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/workspace.xml

target/generated-test-sources/
target
